@import url("fonts/kosko-bold/style.css");

:root {
/*  Вот так нужно добавлять переменные с цветами:   */
    --color-secondary: #EEB780;
}

html {
    scroll-behavior: smooth;
    font-family: Kosko, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(var(--color-secondary), transparent 1px), linear-gradient(90deg, var(--color-secondary), transparent 1px);
    background-size: 55px 55px;
    padding-top: 40px;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    width: 100%;
    margin: 0;
}

p {
    text-align: center;
    margin: 0 0 3px 0;
    width: 100%;
}

.content {
    margin: 0 100px 115px 100px;
    position: relative;
    overflow: auto;
    padding: 18px;
    height: 80%;
    z-index: 5;

    white-space: pre-line;
}

img {
    z-index: 1;
    position: fixed;
}

#racoon {
    width: 124px;
    height: 111px;

    top: 29vh;
}

#foxy {
    bottom: 23vh;
    right: 0;
}